@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0
}

body {
  overflow-x: none;
  font-family: 'Montserrat', sans-serif;
}

section#main {
  height: 100vh;
  background-image: linear-gradient(cornflowerblue, springgreen);
  font-family: sans-serif;
  color: white;
}

.location, .temperature {
  height: 30vh
  width: 50%;
}

.temperature-degree {
  display: inline;
}

.degree {
  /*cursor: pointer;*/
}

.degree span {
  display: inline;
  font-size: 30px;
}

.degree h2 {
  font-size: 40px;
}

.icon {
  margin: auto 20px 0px 20px;
}

.middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.location-modal {
  width: 90%;
  z-index: 5;
  background-color: white;
  color: black;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: auto;
  padding: 100px 0px 100px 0px;
  border: 4px inset springgreen;
  border-radius: 15px;
}

.location-modal h1 {
  text-align: center;
  font-size: 50px;
}

.location-modal p {
  text-align: center;
  font-size: 20px;
}

.hide {
  display: none;
}

#preview {
  display: block;
  margin: 0px;
}

#preview li {
  list-style: none;
  height: 50px;
  width: 300px;
  margin: 5px;
  background-color: #00000050;
  position: relative;
}

#preview li p:nth-child(1) {
  font-size: 24px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);

}

#preview li p:nth-child(2) {
  font-size: 24px;
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
}

#preview li canvas {
  float: right;
}
