@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0
}

body {
  overflow-x: none;
  font-family: 'Montserrat', sans-serif;
}

section#main {
  height: 100vh;
  background-image: linear-gradient(cornflowerblue, springgreen);
  font-family: sans-serif;
  color: white;
}

.location, .temperature {
  height: 30vh
  width: 50%;
}

.temperature-degree {
  display: inline;
}

.degree {
  /*cursor: pointer;*/
}

.degree span {
  display: inline;
  font-size: 30px;
}

.degree h2 {
  font-size: 40px;
}

.icon {
  margin: auto 20px 0px 20px;
}

.middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



#preview {
  display: block;
  margin: 0px;
}

#preview li {
  list-style: none;
  height: 25px;
  width: 300px;
  margin: 5px;
  background-color: transparent;
  border-bottom: solid #ffffff50 1px;
  position: relative;
}

#preview li p:nth-child(1) {
  font-size: 24px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);

}

#preview li p:nth-child(2) {
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#preview li canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#preview li span {
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

#overlay {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(cornflowerblue, springgreen);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
}
#overlay .sk-cube-grid {
  width: 100px;
  height: 100px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#overlay .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-image: linear-gradient(cornflowerblue, springgreen);
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
#overlay .sk-cube-grid .sk-cube1 {
  animation-delay: 0.2s;
}
#overlay .sk-cube-grid .sk-cube2 {
  animation-delay: 0.3s;
}
#overlay .sk-cube-grid .sk-cube3 {
  animation-delay: 0.4s;
}
#overlay .sk-cube-grid .sk-cube4 {
  animation-delay: 0.1s;
}
#overlay .sk-cube-grid .sk-cube5 {
  animation-delay: 0.2s;
}
#overlay .sk-cube-grid .sk-cube6 {
  animation-delay: 0.3s;
}
#overlay .sk-cube-grid .sk-cube7 {
  animation-delay: 0s;
}
#overlay .sk-cube-grid .sk-cube8 {
  animation-delay: 0.1s;
}
#overlay .sk-cube-grid .sk-cube9 {
  animation-delay: 0.2s;
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
